<%- include('headers.ejs'); %>

<!-- Layout wrapper -->
<div class="layout-wrapper layout-2">
	<div class="layout-inner">

		<!-- Layout sidenav -->
		<div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-dark">

			<!-- Brand demo (see assets/css/demo/demo.css) -->
			<div class="app-brand demo">
				<img src="https://cdn.glitch.global/2b7c1788-df0a-46c2-9fd0-ff2ef560081f/logo-sm.png" alt="" class="app-brand-logo ui-w-40">

				<a href="https://Arras.io" target="_blank" class="app-brand-text demo sidenav-text font-weight-normal ml-2">Arras.io</a>
				<a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
					<i class="ion ion-md-menu align-middle"></i>
				</a>
			</div>

			<div class="sidenav-divider mt-0"></div>

			<!-- Links -->
			<ul class="sidenav-inner py-1">
				<li class="sidenav-item">
					<a href="/tank/list" class="sidenav-link">
						<i class="sidenav-icon fas fa-snowplow"></i>
						<div>Tanks</div>
					</a>
				</li>
				
				
					<li class="sidenav-item active">
						<a href="/member/list" class="sidenav-link">
							<i class="sidenav-icon fas fa-users"></i>
							<div>Members</div>
						</a>
					</li>

					<li class="sidenav-item">
						<a href="/map/list" class="sidenav-link">
							<i class="sidenav-icon fas fa-map"></i>
							<div>Maps</div>
						</a>
					</li>


					<li class="sidenav-item">
						<a href="/role/list" class="sidenav-link">
							<i class="sidenav-icon fas fa-th-list"></i>
							<div>Roles</div>
						</a>
					</li>

					<li class="sidenav-item">
						<a href="/settings/view" class="sidenav-link">
							<i class="sidenav-icon fas fa-cogs"></i>
							<div>Settings</div>
						</a>
					</li>
				
				<li class="sidenav-item">
					<a href="/game-audit" class="sidenav-link">
						<i class="sidenav-icon fas fa-archive"></i>
						<div>Audit: Game</div>
					</a>
				</li>

				<li class="sidenav-item">
					<a href="/server-audit" class="sidenav-link">
						<i class="sidenav-icon fas fa-archive"></i>
						<div>Audit: Server</div>
					</a>
				</li>
																
				<li class="sidenav-divider mb-1"></li>
				
				<li class="sidenav-item">
					<a href="/profile" class="sidenav-link"><i class="sidenav-icon fas fa-user"></i>
						<div>My Profile</div>
					</a>
				</li>

				<li class="sidenav-item">
					<a href="/changepassword" class="sidenav-link"><i class="sidenav-icon fas fa-key"></i>
						<div>Change Password</div>
					</a>
				</li>
			</ul>
		</div>
		<!-- / Layout sidenav -->

		<!-- Layout container -->
		<div class="layout-container">
			<!-- Layout navbar -->
			<nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center bg-white container-p-x" id="layout-navbar">

				<!-- Brand demo (see assets/css/demo/demo.css) -->
				<!-- <a href="index.html" class="navbar-brand app-brand demo d-lg-none py-0 mr-4">
					<span class="app-brand-logo demo bg-primary">
						<svg viewBox="0 0 148 80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><linearGradient id="a" x1="46.49" x2="62.46" y1="53.39" y2="48.2" gradientUnits="userSpaceOnUse"><stop stop-opacity=".25" offset="0"></stop><stop stop-opacity=".1" offset=".3"></stop><stop stop-opacity="0" offset=".9"></stop></linearGradient><linearGradient id="e" x1="76.9" x2="92.64" y1="26.38" y2="31.49" xlink:href="#a"></linearGradient><linearGradient id="d" x1="107.12" x2="122.74" y1="53.41" y2="48.33" xlink:href="#a"></linearGradient></defs><path style="fill: #fff;" transform="translate(-.1)" d="M121.36,0,104.42,45.08,88.71,3.28A5.09,5.09,0,0,0,83.93,0H64.27A5.09,5.09,0,0,0,59.5,3.28L43.79,45.08,26.85,0H.1L29.43,76.74A5.09,5.09,0,0,0,34.19,80H53.39a5.09,5.09,0,0,0,4.77-3.26L74.1,35l16,41.74A5.09,5.09,0,0,0,94.82,80h18.95a5.09,5.09,0,0,0,4.76-3.24L148.1,0Z"></path><path transform="translate(-.1)" d="M52.19,22.73l-8.4,22.35L56.51,78.94a5,5,0,0,0,1.64-2.19l7.34-19.2Z" fill="url(#a)"></path><path transform="translate(-.1)" d="M95.73,22l-7-18.69a5,5,0,0,0-1.64-2.21L74.1,35l8.33,21.79Z" fill="url(#e)"></path><path transform="translate(-.1)" d="M112.73,23l-8.31,22.12,12.66,33.7a5,5,0,0,0,1.45-2l7.3-18.93Z" fill="url(#d)"></path></svg>
					</span>
					<span class="app-brand-text demo font-weight-normal ml-2">Appwork</span>
				</a> -->

				<!-- Sidenav toggle (see assets/css/demo/demo.css) -->
				<div class="layout-sidenav-toggle navbar-nav d-lg-none align-items-lg-center mr-auto">
					<a class="nav-item nav-link px-0 mr-lg-4" href="javascript:void(0)">
						<i class="ion ion-md-menu text-large align-middle"></i>
					</a>
				</div>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#layout-navbar-collapse">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="navbar-collapse collapse" id="layout-navbar-collapse">
					<!-- Divider -->
					<hr class="d-lg-none w-100 my-2">            
					<div class="navbar-nav align-items-lg-center ml-auto">                                        
						<div class="demo-navbar-user nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
								<span class="d-inline-flex flex-lg-row align-items-center align-middle">									
									<i class="sidenav-icon fas fa-user"></i>
									<span class="px-1 mr-lg-2 ml-2 ml-lg-0"><%= user.username %></span>
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<a href="/profile" class="dropdown-item"><i class="fas fa-user text-light"></i> &nbsp; My Profile</a>
								<a href="/changepassword" class="dropdown-item"><i class="fas fa-key text-light"></i> &nbsp; Change Password</a>
								<div class="dropdown-divider"></div>
								<a href="/logout" class="dropdown-item"><i class="ion ion-ios-log-out text-danger"></i> &nbsp; Log Out</a>
							</div>
						</div>
					</div>

				</div>
			</nav>
			<!-- / Layout navbar -->


			<!-- Layout content -->
			<div class="layout-content">
					<!-- Content -->
          <div class="container-fluid flex-grow-1 container-p-y">
						<div id="messagePanel" class="alert alert-danger alert-dismissible fade show" style="visibility: hidden;">
							<button type="button" class="close" data-dismiss="alert">×</button>
						</div>

            <div class="card mb-4">
              <h6 class="card-header">
                Member Details: Delete
              </h6>
              <div class="card-body">
                <form action="/member/delete" method="POST" id="memberDeleteForm">
									<input type="hidden" id="_id" name="_id" value="<%= member._id %>" />
									
									<% if (user.canViewUserid) { %>
										<div class="form-group row">
											<label class="col-form-label col-sm-2 text-sm-right">Id:</label>
											<div class="col-sm-10">                      
												<input type="text" value="<%= member._id %>" class="form-control" readonly />
											</div>
										</div>
									<% } %>
                  
                  <div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">Username:</label>
                    <div class="col-sm-10">
                      <input type="text" value="<%= member.username %>" class="form-control" readonly />
                    </div>
                  </div>

									<% if (user.canViewPasswordHash) { %>										
										<div class="form-group row">
											<label class="col-form-label col-sm-2 text-sm-right">Password Hash (SHA256):</label>
											<div class="col-sm-10">
												<input type="text" value="<%= member.passwordHash %>" class="form-control" readonly />
											</div>
										</div>
									<% } %>
										
									<div class="form-group row">
										<label class="col-form-label col-sm-2 text-sm-right">Role:</label>
										<div class="col-sm-10">                      
											<input type="text" value="<%= member.role %>" class="form-control"
														style="color: <%= member.roleColor %>; font-weight: bold;" readonly />
										</div>
									</div>
																					
									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">Status:</label>
                    <div class="col-sm-10">
											<% if (member.status === 'Inactive'){ %>								
												<input type="text" value="<%= member.status %>" class="form-control" 
															style="font-weight:bold;" readonly />
											<% } else { %>
												<input type="text" value="<%= member.status %>" class="form-control" 
															style="color: <%= member.statusColor %>;font-weight: bold;" readonly />
											<% } %>
                    </div>
                  </div>
									
									
									<% if (user.canViewCountry) { %>										
										<div class="form-group row">
											<label class="col-form-label col-sm-2 text-sm-right">Country:</label>
											<div class="col-sm-10">
												<input type="text" value="<%= member.countryName %>" 
														class="form-control" readonly />
											</div>
										</div>
									<% } %>
																					
									<div class="form-group row">
										<label class="col-form-label col-sm-2 text-sm-right">Register Date:</label>
										<div class="col-sm-10">
											<input type="text" value="<%= member.registerDate %>" class="form-control" readonly />
										</div>
									</div>
																	
                  <% if (member.lastLoginDate) { %>
                    <div class="form-group row">
                      <label class="col-form-label col-sm-2 text-sm-right">Last Login Date:</label>
                      <div class="col-sm-10">
                        <input type="text" value="<%= member.lastLoginDate %>" class="form-control" readonly />
                      </div>
                    </div>
                  <% } %>

                  <% if (member.lastUpdatedBy) { %>                    
                    <div class="form-group row">
                      <label class="col-form-label col-sm-2 text-sm-right">Last Updated By:</label>
                      <div class="col-sm-10">
                        <input type="text" value="<%= member.lastUpdatedBy %>" class="form-control" readonly />
                      </div>
                    </div>
                  <% } %>

                  <div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right"></label>
                    <div class="col-sm-10">
                      <% if (user.canDeleteMember){ %>
												<input type="submit" name="submit" class="btn btn-danger" value="Delete (This action cannot be undone)" />

												&nbsp;
												<a class="btn btn-outline-secondary" href="/member/view/<%= member._id %>">
													Cancel
												</a>
											<% } %>
                    </div>
                  </div>
                </form>
                
              </div>
            </div>

          </div>
          <!-- / Content -->

				<!-- Layout footer -->
				<nav class="layout-footer footer bg-footer-theme">
					<div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
						<div class="pt-3">
							<span class="footer-text font-weight-bolder">Arras.io</span> ©
						</div>              
					</div>
				</nav>
				<!-- / Layout footer -->
			</div>
			<!-- Layout content -->
		</div>
		<!-- / Layout container -->
	</div>

	<!-- Overlay -->
	<div class="layout-overlay layout-sidenav-toggle"></div>
</div>
<!-- / Layout wrapper -->

<script>
	$('#memberDeleteForm').submit(function(event) {
		event.preventDefault();
		$('input[type="submit"]').prop('disabled', true);

		const url = this.getAttribute('action');

		const data = {
			_id: getValueById('_id')
		};

		$.ajax({
			type: 'POST',
			data: JSON.stringify(data),
			contentType: 'application/json',
			url: url,
		})
		.done(
				function(data, textStatus, jqXHR){
					if (data.success){
						window.location.href = data.redirectUrl;
					} else {
						showMessagePanel(data.message);
					}
				}
		)
		.fail(
				function(jqXHR, textStatus, errorThrown){
					if (jqXHR.responseJSON){						
						showMessagePanel(jqXHR.responseJSON.message);
					} else {
						if (textStatus === 'error'){
							showMessagePanel('Unknown error.');
						}
					}
				}
		).always(
			function(){
				$('input[type="submit"]').prop('disabled', false);
			}
		);
	});

	function showMessagePanel(message){
		const element = document.getElementById('messagePanel');
		if (element){
			element.style.visibility = 'visible';
			element.textContent = message;
		}
	}

	function getValueById(elementId){
		return document.getElementById(elementId).value;
	}	
</script>

<%- include('footer'); %>