<%- include('headers.ejs'); %>
	<!-- Layout wrapper -->
  <div class="layout-wrapper layout-2">
    <div class="layout-inner">

      <!-- Layout sidenav -->
      <div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-dark">

        <!-- Brand demo (see assets/css/demo/demo.css) -->
				<div class="app-brand demo">
					<img src="https://cdn.glitch.global/2b7c1788-df0a-46c2-9fd0-ff2ef560081f/logo-sm.png" alt="" class="app-brand-logo ui-w-40">

					<a href="https://Arras.io" target="_blank" class="app-brand-text demo sidenav-text font-weight-normal ml-2">Arras.io</a>
					<a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
						<i class="ion ion-md-menu align-middle"></i>
					</a>
				</div>

        <div class="sidenav-divider mt-0"></div>

        <!-- Links -->
        <ul class="sidenav-inner py-1">
					<li class="sidenav-item">
						<a href="/tank/list" class="sidenav-link">
							<i class="sidenav-icon fas fa-snowplow"></i>
							<div>Tanks</div>
						</a>
					</li>
					
					
						<li class="sidenav-item">
							<a href="/member/list" class="sidenav-link">
								<i class="sidenav-icon fas fa-users"></i>
								<div>Members</div>
							</a>
						</li>

						<li class="sidenav-item">
							<a href="/map/list" class="sidenav-link">
								<i class="sidenav-icon fas fa-map"></i>
								<div>Maps</div>
							</a>
						</li>
	
					

						<li class="sidenav-item active">
							<a href="/role/list" class="sidenav-link">
								<i class="sidenav-icon fas fa-th-list"></i>
								<div>Roles</div>
							</a>
						</li>

						<li class="sidenav-item">
							<a href="/settings/view" class="sidenav-link">
								<i class="sidenav-icon fas fa-cogs"></i>
								<div>Settings</div>
							</a>
						</li>

						

					<li class="sidenav-item">
						<a href="/game-audit" class="sidenav-link">
							<i class="sidenav-icon fas fa-archive"></i>
							<div>Audit: Game</div>
						</a>
					</li>

					<li class="sidenav-item">
						<a href="/server-audit" class="sidenav-link">
							<i class="sidenav-icon fas fa-archive"></i>
							<div>Audit: Server</div>
						</a>
					</li>
                          
					<li class="sidenav-divider mb-1"></li>
					
          <li class="sidenav-item">
            <a href="/profile" class="sidenav-link"><i class="sidenav-icon fas fa-user"></i>
              <div>My Profile</div>
            </a>
          </li>

					<li class="sidenav-item">
            <a href="/changepassword" class="sidenav-link"><i class="sidenav-icon fas fa-key"></i>
              <div>Change Password</div>
            </a>
          </li>
        </ul>
      </div>
      <!-- / Layout sidenav -->

      <!-- Layout container -->
      <div class="layout-container">
        <!-- Layout navbar -->
        <nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center bg-white container-p-x" id="layout-navbar">

          <!-- Brand demo (see assets/css/demo/demo.css) -->
          <!-- <a href="index.html" class="navbar-brand app-brand demo d-lg-none py-0 mr-4">
            <span class="app-brand-logo demo bg-primary">
              <svg viewBox="0 0 148 80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><linearGradient id="a" x1="46.49" x2="62.46" y1="53.39" y2="48.2" gradientUnits="userSpaceOnUse"><stop stop-opacity=".25" offset="0"></stop><stop stop-opacity=".1" offset=".3"></stop><stop stop-opacity="0" offset=".9"></stop></linearGradient><linearGradient id="e" x1="76.9" x2="92.64" y1="26.38" y2="31.49" xlink:href="#a"></linearGradient><linearGradient id="d" x1="107.12" x2="122.74" y1="53.41" y2="48.33" xlink:href="#a"></linearGradient></defs><path style="fill: #fff;" transform="translate(-.1)" d="M121.36,0,104.42,45.08,88.71,3.28A5.09,5.09,0,0,0,83.93,0H64.27A5.09,5.09,0,0,0,59.5,3.28L43.79,45.08,26.85,0H.1L29.43,76.74A5.09,5.09,0,0,0,34.19,80H53.39a5.09,5.09,0,0,0,4.77-3.26L74.1,35l16,41.74A5.09,5.09,0,0,0,94.82,80h18.95a5.09,5.09,0,0,0,4.76-3.24L148.1,0Z"></path><path transform="translate(-.1)" d="M52.19,22.73l-8.4,22.35L56.51,78.94a5,5,0,0,0,1.64-2.19l7.34-19.2Z" fill="url(#a)"></path><path transform="translate(-.1)" d="M95.73,22l-7-18.69a5,5,0,0,0-1.64-2.21L74.1,35l8.33,21.79Z" fill="url(#e)"></path><path transform="translate(-.1)" d="M112.73,23l-8.31,22.12,12.66,33.7a5,5,0,0,0,1.45-2l7.3-18.93Z" fill="url(#d)"></path></svg>
            </span>
            <span class="app-brand-text demo font-weight-normal ml-2">Appwork</span>
          </a> -->

          <!-- Sidenav toggle (see assets/css/demo/demo.css) -->
          <div class="layout-sidenav-toggle navbar-nav d-lg-none align-items-lg-center mr-auto">
            <a class="nav-item nav-link px-0 mr-lg-4" href="javascript:void(0)">
              <i class="ion ion-md-menu text-large align-middle"></i>
            </a>
          </div>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#layout-navbar-collapse">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="navbar-collapse collapse" id="layout-navbar-collapse">
            <!-- Divider -->
            <hr class="d-lg-none w-100 my-2">            
            <div class="navbar-nav align-items-lg-center ml-auto">                                        
              <div class="demo-navbar-user nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                  <span class="d-inline-flex flex-lg-row align-items-center align-middle">                    
                    <i class="sidenav-icon fas fa-user"></i>
                    <span class="px-1 mr-lg-2 ml-2 ml-lg-0"><%= user.username %></span>
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="/profile" class="dropdown-item"><i class="fas fa-user text-light"></i> &nbsp; My Profile</a>
									<a href="/changepassword" class="dropdown-item"><i class="fas fa-key text-light"></i> &nbsp; Change Password</a>
                  <div class="dropdown-divider"></div>
                  <a href="/logout" class="dropdown-item"><i class="ion ion-ios-log-out text-danger"></i> &nbsp; Log Out</a>
                </div>
              </div>
            </div>

          </div>
        </nav>
        <!-- / Layout navbar -->


        <!-- Layout content -->
        <div class="layout-content">
          <!-- Content -->
          <div class="container-fluid flex-grow-1 container-p-y">  
						<div id="messagePanel" class="alert alert-danger alert-dismissible fade show" 
								role="alert" style="visibility: hidden;">
							<button type="button" class="close" data-dismiss="alert">×</button>					
						</div>
						          
            <div class="card mb-4">
              <h6 class="card-header">
                Role: New
              </h6>
              <div class="card-body">								
                <form action="/role/new" method="POST" id="roleNewForm">									
                  <div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Name:<span class="required">*</span>
										</label>										
                    <div class="col-sm-10">
											<input type="text" id="roleName" name="roleName" class="form-control" maxlength="30" required />
											<span data-validation-for="roleName" class="field-error"></span>
                    </div>
                  </div>

									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Color:<span class="required">*</span>
										</label>										
                    <div class="col-sm-10">
											<input type="text" id="roleColor" name="roleColor" value="#ffffff" class="form-control" required style="width: 200px;">
											<span data-validation-for="roleColor" class="field-error"></span>
                    </div>
                  </div>									

									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Value:<span class="required">*</span>
										</label>										
                    <div class="col-sm-10">											
											<select id="roleValue" name="roleValue" class="custom-select" style="width: 200px;">
												<% for (const roleValue of allowedRoleValues) { %>
													<option value="<%= roleValue %>">
														<%= roleValue %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="roleValue" class="field-error"></span>
                    </div>
                  </div>

																	
									<!-- <div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Warn:<span class="required">*</span>
										</label>										
                    <div class="col-sm-10">
											<select id="permWarn" name="permWarn" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permWarn" class="field-error"></span>
                    </div>
                  </div>

									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Mute:<span class="required">*</span>
										</label>
                    <div class="col-sm-10">
											<select id="permMute" name="permMute" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permMute" class="field-error"></span>
                    </div>
                  </div>

									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Unmute:<span class="required">*</span>
										</label>
                    <div class="col-sm-10">
											<select id="permUnmute" name="permUnmute" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permUnmute" class="field-error"></span>
                    </div>
                  </div>

									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Kill:<span class="required">*</span>
										</label>
                    <div class="col-sm-10">
											<select id="permKill" name="permKill" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permKill" class="field-error"></span>
                    </div>
                  </div>

									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Kick Dead:<span class="required">*</span>
										</label>
                    <div class="col-sm-10">
											<select id="permKickDead" name="permKickDead" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permKickDead" class="field-error"></span>
                    </div>
                  </div>

									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Kick Specs:<span class="required">*</span>
										</label>
                    <div class="col-sm-10">
											<select id="permKickSpecs" name="permKickSpecs" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permKickSpecs" class="field-error"></span>
                    </div>
                  </div>

									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Kick:<span class="required">*</span>
										</label>
                    <div class="col-sm-10">
											<select id="permKick" name="permKick" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permKick" class="field-error"></span>
                    </div>
                  </div>

									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Broadcast:<span class="required">*</span>
										</label>
                    <div class="col-sm-10">
											<select id="permBroadcast" name="permBroadcast" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permBroadcast" class="field-error"></span>
                    </div>
                  </div>

									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Food:<span class="required">*</span>
										</label>
                    <div class="col-sm-10">
											<select id="permToggleFood" name="permToggleFood" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permToggleFood" class="field-error"></span>
                    </div>
                  </div>

									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Temp Ban:<span class="required">*</span>
										</label>
                    <div class="col-sm-10">
											<select id="permTempBan" name="permTempBan" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permTempBan" class="field-error"></span>
                    </div>
                  </div>

									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											ASN Ban:<span class="required">*</span>
										</label>
                    <div class="col-sm-10">
											<select id="permASNBan" name="permASNBan" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permASNBan" class="field-error"></span>
                    </div>
                  </div>

									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Clear Ban List:<span class="required">*</span>
										</label>
                    <div class="col-sm-10">
											<select id="permClearBanList" name="permClearBanList" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permClearBanList" class="field-error"></span>
                    </div>
                  </div>

									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											ASN Mute:<span class="required">*</span>
										</label>
                    <div class="col-sm-10">
											<select id="permASNMute" name="permASNMute" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permASNMute" class="field-error"></span>
                    </div>
                  </div>

									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											ASN Unmute:<span class="required">*</span>
										</label>
                    <div class="col-sm-10">
											<select id="permASNUnmute" name="permASNUnmute" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permASNUnmute" class="field-error"></span>
                    </div>
                  </div> -->



									<br />
									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Warn:<span class="required">*</span>
										</label>										
                    <div class="col-sm-4">
											<select id="permWarn" name="permWarn" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permWarn" class="field-error"></span>
                    </div>


										<label class="col-form-label col-sm-2 text-sm-right">
											Mute:<span class="required">*</span>
										</label>
                    <div class="col-sm-4">
											<select id="permMute" name="permMute" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permMute" class="field-error"></span>
                    </div>
                  </div>

								
									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Unmute:<span class="required">*</span>
										</label>
                    <div class="col-sm-4">
											<select id="permUnmute" name="permUnmute" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permUnmute" class="field-error"></span>
                    </div>


										<label class="col-form-label col-sm-2 text-sm-right">
											Kill:<span class="required">*</span>
										</label>
                    <div class="col-sm-4">
											<select id="permKill" name="permKill" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permKill" class="field-error"></span>
                    </div>
                  </div>

								
									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Kick Dead:<span class="required">*</span>
										</label>
                    <div class="col-sm-4">
											<select id="permKickDead" name="permKickDead" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permKickDead" class="field-error"></span>
                    </div>

										<label class="col-form-label col-sm-2 text-sm-right">
											Kick Specs:<span class="required">*</span>
										</label>
                    <div class="col-sm-4">
											<select id="permKickSpecs" name="permKickSpecs" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permKickSpecs" class="field-error"></span>
                    </div>
                  </div>

								

									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Kick:<span class="required">*</span>
										</label>
                    <div class="col-sm-4">
											<select id="permKick" name="permKick" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permKick" class="field-error"></span>
                    </div>

										<label class="col-form-label col-sm-2 text-sm-right">
											Broadcast:<span class="required">*</span>
										</label>
                    <div class="col-sm-4">
											<select id="permBroadcast" name="permBroadcast" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permBroadcast" class="field-error"></span>
                    </div>
                  </div>

								
									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Food:<span class="required">*</span>
										</label>
                    <div class="col-sm-4">
											<select id="permToggleFood" name="permToggleFood" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permToggleFood" class="field-error"></span>
                    </div>

										<label class="col-form-label col-sm-2 text-sm-right">
											Temp Ban:<span class="required">*</span>
										</label>
                    <div class="col-sm-4">
											<select id="permTempBan" name="permTempBan" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permTempBan" class="field-error"></span>
                    </div>
                  </div>

								
									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											ASN Ban:<span class="required">*</span>
										</label>
                    <div class="col-sm-4">
											<select id="permASNBan" name="permASNBan" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permASNBan" class="field-error"></span>
                    </div>

										<label class="col-form-label col-sm-2 text-sm-right">
											Clear Ban List:<span class="required">*</span>
										</label>
                    <div class="col-sm-4">
											<select id="permClearBanList" name="permClearBanList" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permClearBanList" class="field-error"></span>
                    </div>
                  </div>

								

									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											ASN Mute:<span class="required">*</span>
										</label>
                    <div class="col-sm-4">
											<select id="permASNMute" name="permASNMute" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permASNMute" class="field-error"></span>
                    </div>


										<label class="col-form-label col-sm-2 text-sm-right">
											ASN Unmute:<span class="required">*</span>
										</label>
                    <div class="col-sm-4">
											<select id="permASNUnmute" name="permASNUnmute" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permASNUnmute" class="field-error"></span>
                    </div>
                  </div>

									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											ASN Add:<span class="required">*</span>
										</label>
                    <div class="col-sm-4">
											<select id="permASNAdd" name="permASNAdd" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permASNAdd" class="field-error"></span>
                    </div>


										<label class="col-form-label col-sm-2 text-sm-right">
											Restart Server:<span class="required">*</span>
										</label>
                    <div class="col-sm-4">
											<select id="permRestartServer" name="permRestartServer" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permRestartServer" class="field-error"></span>
                    </div>
                  </div>

									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											VPN Command:<span class="required">*</span>
										</label>
                    <div class="col-sm-4">
											<select id="permVPNCommand" name="permVPNCommand" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permVPNCommand" class="field-error"></span>
                    </div>


										<label class="col-form-label col-sm-2 text-sm-right">
											Map Command:<span class="required">*</span>
										</label>
                    <div class="col-sm-4">
											<select id="permMapCommand" name="permMapCommand" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="permMapCommand" class="field-error"></span>
                    </div>
                  </div>
									<br />


									<% if (user.role === 'Developer') { %>
									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Max Member Status Update:<span class="required">*</span>
										</label>										
                    <div class="col-sm-4">
											<select id="maxMemberStatusUpdate" name="maxMemberStatusUpdate" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="maxMemberStatusUpdate" class="field-error"></span>
                    </div>

										<label class="col-form-label col-sm-2 text-sm-right">
											Max Member Username Update:<span class="required">*</span>
										</label>
                    <div class="col-sm-4">
											<select id="maxMemberUsernameUpdate" name="maxMemberUsernameUpdate" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="maxMemberUsernameUpdate" class="field-error"></span>
                    </div>
                  </div>

									<div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">
											Max Member Password Hash Update:<span class="required">*</span>
										</label>										
                    <div class="col-sm-4">
											<select id="maxMemberPasswordHashUpdate" name="maxMemberPasswordHashUpdate" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="maxMemberPasswordHashUpdate" class="field-error"></span>
                    </div>


										<label class="col-form-label col-sm-2 text-sm-right">
											Max Member Role Update:<span class="required">*</span>
										</label>
                    <div class="col-sm-4">
											<select id="maxMemberRoleUpdate" name="maxMemberRoleUpdate" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="maxMemberRoleUpdate" class="field-error"></span>
                    </div>
                  </div>

									<div class="form-group row">                    										
										<label class="col-form-label col-sm-2 text-sm-right">
											Max Member Delete:<span class="required">*</span>
										</label>										
                    <div class="col-sm-4">
											<select id="maxMemberDelete" name="maxMemberDelete" class="custom-select" style="width: 100px;">												
												<% for (let i=0; i <= 100; i++) { %>
													<option value="<%= i %>">
														<%= i %>
													</option>
												<% } %>
											</select>
											<span data-validation-for="maxMemberDelete" class="field-error"></span>
                    </div>
                  </div>
									<br />
									<% } %>
																	
                  <div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right"></label>
                    <div class="col-sm-10">
                      <input type="submit" name="submit" value="Create" class="btn btn-primary" />

											&nbsp;
											<a class="btn btn-outline-secondary" href="/role/list">
												Cancel
											</a>
                    </div>
                  </div>                                   
                </form>                
              </div>
            </div>

          </div>
          <!-- / Content -->

          <!-- Layout footer -->
          <nav class="layout-footer footer bg-footer-theme">
            <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
              <div class="pt-3">
                <span class="footer-text font-weight-bolder">Arras.io</span> ©
              </div>              
            </div>
          </nav>
          <!-- / Layout footer -->
        </div>
        <!-- Layout content -->
      </div>
      <!-- / Layout container -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-sidenav-toggle"></div>
  </div>
  <!-- / Layout wrapper -->

 <script>	
	$(function() {
		var isRtl = $('body').attr('dir') === 'rtl' || $('html').attr('dir') === 'rtl';

		$('#roleColor').minicolors({
			control:  'hue',
			position: 'bottom ' + (isRtl ? 'right' : 'left'),
		});		
	});


	$('#roleNewForm').submit(function(event) {		  	
		event.preventDefault();
		$('input[type="submit"]').prop('disabled', true);

		const url = this.getAttribute('action');

		const data = {
			_id: getValueById('_id'),
			roleName: getValueById('roleName'),
			roleColor: getValueById('roleColor'),
			roleValue: getValueById('roleValue'),						
			permWarn: getValueById('permWarn'),
			permMute: getValueById('permMute'),
			permUnmute: getValueById('permUnmute'),
			permKill: getValueById('permKill'),
			permKickDead: getValueById('permKickDead'),
			permKickSpecs: getValueById('permKickSpecs'),
			permKick: getValueById('permKick'),
			permBroadcast: getValueById('permBroadcast'),
			permToggleFood: getValueById('permToggleFood'),
			permTempBan: getValueById('permTempBan'),
			permASNBan: getValueById('permASNBan'),
			permClearBanList: getValueById('permClearBanList'),
			permASNMute: getValueById('permASNMute'),
			permASNUnmute: getValueById('permASNUnmute'),
			permASNAdd: getValueById('permASNAdd'),
			permRestartServer: getValueById('permRestartServer'),
			permVPNCommand: getValueById('permVPNCommand'),
			permMapCommand: getValueById('permMapCommand'),

			maxMemberUsernameUpdate: getValueById('maxMemberUsernameUpdate'),
			maxMemberPasswordHashUpdate: getValueById('maxMemberPasswordHashUpdate'),
			maxMemberRoleUpdate: getValueById('maxMemberRoleUpdate'),
			maxMemberStatusUpdate: getValueById('maxMemberStatusUpdate'),
			maxMemberDelete: getValueById('maxMemberDelete')
		};

		$.ajax({
			type: 'POST',
			data: JSON.stringify(data),
			contentType: 'application/json',
			url: url,								
		})
		.done(
			function(data, textStatus, jqXHR){
				if (data.success){
					window.location.href = data.redirectUrl;
				}
				else {
					showMessagePanel(data.message);
				}					
			}
		)
		.fail(
			function(jqXHR, textStatus, errorThrown){
				if (jqXHR.responseJSON){
					toggleValidationErrors(jqXHR.responseJSON);
					const msg = jqXHR.responseJSON ? jqXHR.responseJSON.message : errorThrown;
					showMessagePanel(msg);
				}
				else {
					if (textStatus === 'error'){
						showMessagePanel('Unknown error.');
					}
				}
			}
		).always(
			function(){
				$('input[type="submit"]').prop('disabled', false);					
			}
		);			
	});

	function showMessagePanel(message){
		if (message){
			const element = document.getElementById('messagePanel');
			if (element){
				element.style.visibility = 'visible';
				element.textContent = message;
			}
		}
	}

	function getValueById(elementId){
		const element = document.getElementById(elementId);
		if (element){
			return element.value;
		}

		return null;
	}

	function toggleValidationErrors(responseJSON){
		if (responseJSON){
			const errorDetails = responseJSON.errorDetails || {};
			const validationErrorFields = document.querySelectorAll('span[data-validation-for]');

			Array.from(validationErrorFields).forEach((element, index) => {
				if (errorDetails[element.dataset.validationFor]){
					element.textContent = errorDetails[element.dataset.validationFor].message;
				} else {
					element.textContent = '';
				}
			});
		}
	}
</script>


<%- include('footer'); %>
