<%- include('headers'); %>

<!-- Layout wrapper -->
<div class="layout-wrapper layout-2">
	<div class="layout-inner">

		<!-- Layout sidenav -->
		<div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-dark">

			<!-- Brand demo (see assets/css/demo/demo.css) -->
			<div class="app-brand demo">
				<img src="https://cdn.glitch.global/2b7c1788-df0a-46c2-9fd0-ff2ef560081f/logo-sm.png" alt="" class="app-brand-logo ui-w-40">

				<a href="https://mexar.glitch.me" target="_blank" class="app-brand-text demo sidenav-text font-weight-normal ml-2">Mexar</a>
				<a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
					<i class="ion ion-md-menu align-middle"></i>
				</a>
			</div>

			<div class="sidenav-divider mt-0"></div>

			<!-- Links -->
			<ul class="sidenav-inner py-1">
				<li class="sidenav-item active">
					<a href="/tank/list" class="sidenav-link">
						<i class="sidenav-icon fas fa-snowplow"></i>
						<div>Tanks</div>
					</a>
				</li>
				
				
					<li class="sidenav-item">
						<a href="/member/list" class="sidenav-link">
							<i class="sidenav-icon fas fa-users"></i>
							<div>Members</div>
						</a>
					</li>

					<li class="sidenav-item">
						<a href="/map/list" class="sidenav-link">
							<i class="sidenav-icon fas fa-map"></i>
							<div>Maps</div>
						</a>
					</li>

					

					<li class="sidenav-item">
						<a href="/role/list" class="sidenav-link">
							<i class="sidenav-icon fas fa-th-list"></i>
							<div>Roles</div>
						</a>
					</li>

					<li class="sidenav-item">
						<a href="/settings/view" class="sidenav-link">
							<i class="sidenav-icon fas fa-cogs"></i>
							<div>Settings</div>
						</a>
					</li>

				

				<li class="sidenav-item">
					<a href="/game-audit" class="sidenav-link">
						<i class="sidenav-icon fas fa-archive"></i>
						<div>Audit: Game</div>
					</a>
				</li>

				<li class="sidenav-item">
					<a href="/server-audit" class="sidenav-link">
						<i class="sidenav-icon fas fa-archive"></i>
						<div>Audit: Server</div>
					</a>
				</li>
										
				<li class="sidenav-divider mb-1"></li>
				
				<li class="sidenav-item">
					<a href="/profile" class="sidenav-link"><i class="sidenav-icon fas fa-user"></i>
						<div>My Profile</div>
					</a>
				</li>

				<li class="sidenav-item">
					<a href="/changepassword" class="sidenav-link"><i class="sidenav-icon fas fa-key"></i>
						<div>Change Password</div>
					</a>
				</li>
			</ul>
		</div>
		<!-- / Layout sidenav -->

		<!-- Layout container -->
		<div class="layout-container">
			<!-- Layout navbar -->
			<nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center bg-white container-p-x" id="layout-navbar">
				
				<!-- Sidenav toggle (see assets/css/demo/demo.css) -->
				<div class="layout-sidenav-toggle navbar-nav d-lg-none align-items-lg-center mr-auto">
					<a class="nav-item nav-link px-0 mr-lg-4" href="javascript:void(0)">
						<i class="ion ion-md-menu text-large align-middle"></i>
					</a>
				</div>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#layout-navbar-collapse">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="navbar-collapse collapse" id="layout-navbar-collapse">
					<!-- Divider -->
					<hr class="d-lg-none w-100 my-2">            
					<div class="navbar-nav align-items-lg-center ml-auto">                                        
						<div class="demo-navbar-user nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
								<span class="d-inline-flex flex-lg-row align-items-center align-middle">									
									<i class="sidenav-icon fas fa-user"></i>
									<span class="px-1 mr-lg-2 ml-2 ml-lg-0"><%= user.username %></span>
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<a href="/profile" class="dropdown-item"><i class="fas fa-user text-light"></i> &nbsp; My Profile</a>
								<a href="/changepassword" class="dropdown-item"><i class="fas fa-key text-light"></i> &nbsp; Change Password</a>
								<div class="dropdown-divider"></div>
								<a href="/logout" class="dropdown-item"><i class="ion ion-ios-log-out text-danger"></i> &nbsp; Log Out</a>
							</div>
						</div>
					</div>

				</div>
			</nav>
			<!-- / Layout navbar -->


			<!-- Layout content -->
			<div class="layout-content">
					<!-- Content -->
					<div class="container-fluid flex-grow-1 container-p-y">
						<h4 class="font-weight-bold py-3 mb-4">
							Tanks
							<span class="badge badge-danger"><%= totalRecords %></span>
						</h4>
						
						<!-- <div class="callout callout-danger">
							<h5>Tank Names</h5>
							<p>Tanks with offensive names will be <strong>immediately deleted</strong> without warning.</p>
						</div> -->

						<div class="alert alert-dark-danger alert-dismissible fade show">
							<button type="button" class="close" data-dismiss="alert">×</button>							
							Tanks with offensive names will be <strong>immediately deleted</strong> without warning.
						</div>

						<div class="callout callout-info">
							<h5>FTB Arena Server</h5>
							<p>
								All the submitted tanks, <strong>regardless of their statuses</strong>, 
								will be automatically added to FTB Arena Server <strong>every few hours</strong>.
							</p>
						</div>

						<div id="messagePanel" class="alert alert-danger alert-dismissible fade show" style="visibility: hidden;">
							<button type="button" class="close" data-dismiss="alert">×</button>					
						</div>
						
						<form method="POST" action="/tank/search" id="searchForm" class="form-inline col-md-4">
							<div class="form-group demo-inline-spacing">
								<input type="text" id="tankName" name="tankName" class="form-control"
									placeholder="Enter tank name" value="<%- tankName %>" maxlength="50" />

								<select id="status" name="status" class="custom-select">
									<option>-- Status --</option>
									<% for(let i=0; i < validStatuses.length; i++) { %>
										<option value="<%=validStatuses[i]%>" <%if (validStatuses[i] === status){%> selected <% } %>>
											<%= validStatuses[i] %>
										</option>
									<% } %>									
								</select>

								<input class="btn btn-outline-primary" type="submit" name="submit" value="Search">
								<a class="btn btn-outline-secondary" href="/tank/list/?page=1">Reset</a>								
							</div>							
						</form>

						<div class="table-responsive">
							<table class="datatables-demo table table-striped table-bordered">
								<thead>
									<tr>
										<th>Tank Name</th>
										<th>Status</th>
										<th>Submitted By</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>																	
								 	<% 
									 	let rowIndex = 0;										
										for (const tank of tanks) { 																					
											let rowBackColor = (rowIndex++ % 2 === 0) ? 'rgba(24,28,33,0.025)' : 'rgba(250,250,250,0.035)';											
											let rowClass = (rowIndex++ % 2 === 0) ? 'even' : 'odd';
									%>
																					
										<!-- <tr style="background-color: <%= rowBackColor %>;"> -->
										<tr class="<%= rowClass %>">
											<td>
												<span style="font-weight: bold;">
													<%= tank.tankName %>
												</span>
											</td>
											
											<td>
												<% if (tank.status === 'Pending Approval') { %>
													<span style="font-weight: bold;">
														<%= tank.status %>
													</span>
												<% } else { %>
													<span style="color: <%= tank.statusColor %>; font-weight: bold;">
														<%= tank.status %>
													</span>
												<% } %>												
											</td>
				
											<td>
												<a href="/member/view/<%= tank.submittedBy %>" target="_blank">
													<%= tank.submittedByUsername %>
												</a>
											</td>
				
											<td style="text-align: left;">
												<a id="viewButton" class="btn btn-sm btn-outline-primary" href="/tank/view/<%= tank.id %>">
													<span class="fas fa-eye"></span>&nbsp;&nbsp;View
												</a>
				
												<% if (tank.canBeEdited){ %>
													&nbsp;&nbsp;
													<a class="btn btn-sm btn-outline-secondary" href="/tank/edit/<%= tank.id %>">
														<span class="fas fa-pen"></span>&nbsp;&nbsp;Edit
													</a>
												<% } %>		
																							
											</td>											
										</tr>
										<% } %>
								</tbody>
							</table>
							
							<% if (tanks.length === 0) { %>								
								<div class="alert alert-primary alert-dismissible fade show">
									<button type="button" class="close" data-dismiss="alert">×</button>
									No records found.
								</div>
							<% } %>
		
							<% if (pageCount > 1) { %>
								<ul class="pagination">
									<% if (currentPage > 1) { %>
										<li class="paginate_button page-item"><a class="page-link" href="/tank/list/?page=1&tankName=<%= tankName %>&status=<%=status%>">&laquo;</a></li>
									<% } %>
		
									<% var i = 1;
										if (currentPage > 5) {
											i = +currentPage - 4;
										} %>
		
									<% if (i !== 1) { %>
										<li class="paginate_button page-item disabled"><span class="page-link">...</span></li>
									<% } %>
		
									<% for (i; i<=pageCount; i++) { %>
										<% if (currentPage == i) { %>
											<li class="paginate_button page-item active"><span class="page-link"><%= i %></span></li>
										<% } else { %>
											<li class="paginate_button page-item"><a class="page-link" href="/tank/list/?page=<%= i %>&tankName=<%= tankName %>&status=<%=status%>"><%= i %></a></li>
										<% } %>
										<% if (i == (+currentPage + 4)) { %>
											<li class="paginate_button page-item disabled"><span class="page-link">...</span></li>
										<% break; } %>
									<% } %>		
		
									<% if (currentPage != pageCount) { %>
										<li class="paginate_button page-item"><a class="page-link" href="/tank/list/?page=<%= pageCount %>&tankName=<%= tankName %>&status=<%=status%>">&raquo;</a></li>
									<% } %>
								</ul>
							<% } %>							
						</div>			
						
						<br />
						<a class="btn btn-outline-primary" href="/tank/submit">
							<i class="fas fa-plus"></i>&nbsp;
							Submit New Tank
						</a>
					</div>					
					<!-- / Content -->

				<!-- Layout footer -->
				<nav class="layout-footer footer bg-footer-theme">
					<div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
						<div class="pt-3">
							<span class="footer-text font-weight-bolder">nothing yet</span> ©
						</div>              
					</div>
				</nav>
				<!-- / Layout footer -->
			</div>
			<!-- Layout content -->
		</div>
		<!-- / Layout container -->
	</div>

	<!-- Overlay -->
	<div class="layout-overlay layout-sidenav-toggle"></div>
</div>
<!-- / Layout wrapper -->


<script>
	$('#searchForm').submit(function(event) {		  	
		event.preventDefault();
		$('input[type="submit"]').prop('disabled', true);
		
		const url = this.getAttribute('action');

		const data = {
			tankName: getValueById('tankName'),
			status: getValueById('status'),
		};
				
		$.ajax({
			type: 'POST',
			data: JSON.stringify(data),
			contentType: 'application/json',
			url: url,								
		})
		.done(
			function(data, textStatus, jqXHR){
				if (data.success){
					window.location.href = data.redirectUrl;
				}
				else {
					showMessagePanel(data.message);
				}
			}
		)
		.fail(
			function(jqXHR, textStatus, errorThrown){					
				if (jqXHR.responseJSON){
					toggleValidationErrors(jqXHR.responseJSON);
					let msg = jqXHR.responseJSON ? jqXHR.responseJSON.message : errorThrown;
					if (!msg){
						msg = 'Unexpected error.';
					}
					showMessagePanel(msg);
				}
				else {
					showMessagePanel('Unknown error.');
				}
			}
		).always(
			function(){
				$('input[type="submit"]').prop('disabled', false);
			}
		);			
	});

	function showMessagePanel(message){
		if (message){
			const element = document.getElementById('messagePanel');
			if (element){
				element.style.visibility = 'visible';
				element.textContent = message;
			}
		}
	}

	function getValueById(elementId){
		return document.getElementById(elementId).value;
	}

	function toggleValidationErrors(jqXHR){			
		const responseJSON = jqXHR.responseJSON || {};

		if (responseJSON){
			const errorDetails = responseJSON.errorDetails || {};
			const validationErrorFields = document.querySelectorAll('span[data-validation-for]');

			Array.from(validationErrorFields).forEach((element, index) => {
				if (errorDetails[element.dataset.validationFor]){
					element.textContent = errorDetails[element.dataset.validationFor].message;
				} else {
					element.textContent = '';
				}
			});
		}
	}
</script>

<%- include('footer'); %>